In [7]:
import pandas as pd

In [11]:
df = pd.read_csv("House Price Prediction Dataset.csv")

In [13]:
df["price_per_sqft"] = df["Price"] / df["Area"]

In [14]:
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price,price_per_sqft
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919,110.234559
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998,99.484551
2,3,3592,2,2,3,1938,Downtown,Good,No,266746,74.261136
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020,252.608696
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056,129.122209